.myheader {
    height: 110vh;
    padding-top: 7rem;
    overflow: hidden;
    margin-bottom: 5rem;;

}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

/*   ==========CTA ========*/

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.3rem;
    justify-content: center;
}

/*   ==========SOCIALS ========*/

.header_socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    position: absolute;
    left: 0;
    bottom: 7rem;

}

.header_socials::after {
    content: '';
    width: 1px;
    height: 2rem;
    background: var(--color-primary);

}

/*   ==========ME========*/

.headerme {
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 25rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    
}

/*   ==========SCROLL DOWN========*/

.scroll_down{
    position: absolute;
    right: -2.3rem;
    bottom: 11rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}


/*  =========================media querues (medium devices)======*/

@media screen  and  (max-width: 1024px) {

    .myheader {
        height: 70vh;
        padding: 2rem;

    }

    .header_socials, .scroll_down {
        position:fixed;
    }
}
/*  =========================media querues (small devices)======*/

@media screen  and  (max-width: 600px) {
    .myheader {
        height: 80vh;
        padding: 1rem;
        

    }

    .experience_container {
        gap: 1rem;

    }

    .header_socials, .scroll_down {
        display: none;
    }
}